<h1>About PAGE</h1>

<p>This page was made by <i>Giorgi Meladze</i> for the assignment</p>

<p>I tried as hard as I could, unfortunalety i'm just a junior dev.
so It is hard not to overload Rails at this current stage. <br>
Hope you would like it</p>

<p>Please don't mind the front, There is something wrong with Bootrtrap</p>
